<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjectLandScape.Properties.en_EN" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ProjectLandScape.Properties.languages" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ProjectLandScape.Properties.en_EN>
            <setting name="menuStripObject" serializeAs="String">
                <value>Object</value>
            </setting>
            <setting name="menuStripTools" serializeAs="String">
                <value>Tools</value>
            </setting>
            <setting name="menuStripFinance" serializeAs="String">
                <value>Finance</value>
            </setting>
            <setting name="menuStripHelp" serializeAs="String">
                <value>Help</value>
            </setting>
            <setting name="menuStripGenerator" serializeAs="String">
                <value>Projects generator</value>
            </setting>
        </ProjectLandScape.Properties.en_EN>
        <ProjectLandScape.Properties.languages>
            <setting name="menuStripObjectText" serializeAs="String">
                <value>Object</value>
            </setting>
            <setting name="menuStripTools" serializeAs="String">
                <value>Tools</value>
            </setting>
            <setting name="menuStripFinance" serializeAs="String">
                <value>Finance</value>
            </setting>
            <setting name="menuStripHelp" serializeAs="String">
                <value>Help</value>
            </setting>
            <setting name="menuStripGenerator" serializeAs="String">
                <value>Projects generator</value>
            </setting>
        </ProjectLandScape.Properties.languages>
    </userSettings>
</configuration>